{% extends 'post/base.html' %}

{% block title %}

Post List

{% endblock %}

{% block content %}

<br>

<h4>Post List</h4>

<br>

<a class="btn btn-success" role="button" href="{% url 'post_create' %}">Create Post</a>

<br><br>

<ul>

    {% for post_row in object_list %}
        <div class="card">

            <div class="card-body">
                <li style="list-style-type:none">
                    {{ post_row.post_name }}
                    <a class="btn btn-secondary" role="button" href="{{ post_row.post_id }}/update">Update</a>
                    <a class="btn btn-danger" type="button" href="{{ post_row.post_id }}/delete">Delete</a>
                </li>
            </div>
        </div>
    {% endfor %}
</ul>

{% endblock %}